/* ----------------------- */
/* base
/* ----------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}

.contact-thanks {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.contact-thanks h2 {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.contact-thanks p {
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 40px;
}
